/*-- Main CSS Code --*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');  /*Test 8-bit looking font */



html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {               
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow-x: hidden;
}

#gamezone {
    background-color: black;
    background-image: url("../images/round87-edit3.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

footer {
   position:absolute;
   bottom: 0;
   width: 100%;
   height: auto;   /* Height of the footer */
}


/*-- Intro Styling --*/


.main-title {
    background: url("../images/main-head-3D-clip.png");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
    min-height: 8rem;
    margin-top: 4rem;
}


.input-group {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    font-size: 1.4rem;
    text-align: center;
}


.col-centered{
    margin: 0 auto;
    float: none;
}

.bub-pad {
    
    padding: 3rem 0rem 0rem 0rem;
    
}

.bub-size {
    height: 7rem;
    width: 7rem;
}

.bob-size {
    height: 7rem;
    width: 7rem;
}

    
.game-butt {
  position: fixed;
  bottom: 3rem;
 
}

.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20rem;
  border-radius: 1rem;
  background-color: rgba(247, 68, 152, .3);
  border: 1px solid rgba(254, 238, 32, 1);
  
}




.foot-pad {
    text-align: center;
    font-size: 1.5rem;
}

.smiley-size {
    height: 1.5rem;
    width: 1.5rem;
    padding-bottom: 0.25rem;
}

.smiley-size:hover {
    filter: grayscale(100%);
}




/*-- Bubble Code Accredited In README but I have changed it to suit my game --*/
.speech-bubs {
	
    float: right;
    position: relative;
    max-width: 20rem;
	background-color: rgba(247, 68, 152, 0.1);
    padding: 1.125em 1.5em;
    font-size: 1.1rem;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.speech-bubs::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 50%;
	left: 19.7rem; 
	border: .75rem solid transparent;
    border-top: none;
    transform: rotate(90deg);
    
	border-bottom-color: rgba(247, 68, 152, 0.3);
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.speech-bubs2 {
	
    float: left;
    position: relative;
    max-width: 20rem;
	background-color: rgba(254, 238, 32, 0.1);
	padding: 1.125em 1.5em;
    font-size: 1.1rem;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.speech-bubs2::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 50%;
	left: -1.2rem; 
	border: .75rem solid transparent;
    border-top: none;
    transform: rotate(-90deg);
    
	border-bottom-color: rgba(254, 238, 32, 0.3);
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}



/*-- Game Zone Styling --*/


.gamehud {
    font-family: "Press Start 2P", sans-serif;
  /*  min-height: 1.5rem;
    line-height: 1.5rem;*/
    text-align: center;
   
}

.time {
  background-color: rgba(254, 238, 32, 1);
  border: 1px solid rgba(247, 68, 152, 1);
  width: 4.2rem;
  height: 4.2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; 
    padding-top: 1rem;
}

#gamehud  p {
    color: #fff;
    margin-bottom: 0.3rem;
}
.time  span, .score  span {
    font-size: 1.5rem;
   /* padding-top: 3rem;*/
}

.flash {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
      background-color: rgba(247, 68, 152, 1);
      border: 1px solid rgba(254, 238, 32, 1);
      color: white;
  }
}


.score {
    background-color: rgba(254, 238, 32, 1);
  border: 1px solid rgba(247, 68, 152, 1);
    width: 4.2rem;
  height: 4.2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding-top: 1rem;
}

.chat {
    background-color: rgba(247, 68, 152, 1);
      border: 1px solid rgba(254, 238, 32, 1);
    color: #fff;
  /*  margin-left: auto;
    margin-right: auto;*/
    margin-top: 1rem;
    border-radius: 1rem;
}


.grid-container {
  display: grid;
  justify-content: center;
  width: 100%;
  margin: auto;
position: absolute;
top: 65%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
z-index: 1;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 1rem;
}

.grid-item {
  /*background: url("../images/cardface.png")no-repeat center center;*/
  
  background-color: rgba(247, 68, 152, 1);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /*padding: 2rem;*/
  width: 7rem;
  height: 7rem;                 /* Change this with .hide height & width over different screen sizes*/
  text-align: center;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 1rem;
}

.grid-item:active {
    transform: scale(0.9);
    transition: transform 0.5s;
}

.grid-item.turn {
    background-color: #fff;
    transform: rotateY(180deg);
}


.hide {
   width: 6.5rem;
   height: 6.5rem; 
   border-radius: 5px;
   backface-visibility: hidden;
   transform: rotateY(180deg);
}


#home, #mute {
    height : 3.2rem;
    width: 3.2rem;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
}

#home {
    top: 97%;
    left: 35%;
}

#mute {
    top: 97%;
    left: 66%;
}

.unmute, .home {
    background-color: rgba(254, 238, 32, 1);
    border: 2px solid rgba(247, 68, 152, 1);
}

.home:hover {
    background-color: rgba(247, 68, 152, 1);
    border: 2px solid rgba(254, 238, 32, 1);
}


.mute {
    background-color: rgba(247, 68, 152, 1);
    border: 2px solid rgba(254, 238, 32, 1);
}

.icon {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center; 
    transition: all 0.35s ease-in-out;
}


#gameover, #timeout {
    visibility: hidden;
    color: rgba(247, 68, 152, 1);
    font-family: "Press Start 2P", sans-serif;
    background: rgba(254, 238, 32, 1);
    width: 80%;
    margin: auto;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: 5px solid #FAA101;
    padding: 5rem;
    text-align: center;
   /* width: 30rem;
    height: 30rem;
    border-radius: 50%;*/
}

#restart, #levelup{
 
  
  width: 10rem;
  border-radius: 1rem;
  background-color: rgba(247, 68, 152, .3);
  border: 1px solid #FAA101;
}




/*-- Media Queries --*/

/* Show in Large desktops and laptops */
@media (min-width: 1200px) {

     .main-title{
        min-height: 25rem;
        margin-top: 6rem;
    }

    .bub-size {
        float: left;
        height: 10rem;
        width: 10rem;
    }

    .bob-size {
        float: right;
        height: 10rem;
        width: 10rem;
    }

    

    .time, .score {
        width: 8rem;
        height: 8rem;
    }

    .time  span, .score  span {
    font-size: 3rem;
    }

    .grid-container {
        grid-template-columns: auto auto auto auto;
        top: 68%;
    }

    .grid-item {
        width: 12rem;
        height: 12rem; 
    }

    .hide {
        width: 9rem;
        height: 9rem; 
    }

    #home, #mute {
    height : 5rem;
    width: 5rem;
    }

    .icon {
    font-size: 2rem;
    line-height: 3.5rem;
    text-align: center; 

}

/*Hide in Other Small Devices */                                    /* ----IF THERE ARE TWO MEDIA QUERY SIZES WITH SAME INFO , COMBINE THEM -----*/

/* Landscape tablets and medium desktops */
/*@media (min-width: 992px) and (max-width: 1199px) {

    .main-title{
        min-height: 30rem;
    }

    .bub-size {
        float: left;
        height: 10rem;
        width: 10rem;
    }

    .bob-size {
        float: right;
        height: 10rem;
        width: 10rem;
}
 

}*/


/* Portrait tablets and small desktops */
/*@media (min-width: 768px) and (max-width: 991px) {

    .main-title{
        min-height: 30rem;
    }

    .bub-size {
        float: left;
        height: 10rem;
        width: 10rem;
    }

    .bob-size {
        float: right;
        height: 10rem;
        width: 10rem;
}


} */

/* Landscape phones and portrait tablets */
/*@media (max-width: 767px) {

    .main-title{
        min-height: 25rem;
    }

    .bub-size {
        float: left;
        height: 7rem;
        width: 7rem;
    }

    .bob-size {
        float: right;
        height: 7rem;
        width: 7rem;
}

}*/

/* Portrait phones and smaller */
/*@media (max-width: 480px) {

    .main-title{
        min-height: 15rem;
    }

    .bub-size {
        float: right;
    }

    .bob-size {
        float: left;
    }

}*/
