/*-- Main CSS Code --*/

html,body   /* Used to remove margin on right hand side - Taken from answer on Stack Overflow */
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-size: 62.5%;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:auto;   /* Height of the footer */
}


/*-- Intro Styling --*/

/*
body {
    background-color: black;
}*/


.main-title {
    background: url("../images/main-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
    min-height: 300px;
}

.intro {
    font-size: 1.6rem;
    text-align: center;
    padding: 2rem;
}

.intro2 {
    font-size: 1.6rem;
    text-align: center;
    
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.hello {
    font-size: 2rem;
}

.foot-pad {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}

.bub-size {
    height: 10rem;
    width: 10rem;
}


.smiley-size {
    height: 3rem;
    width: 3rem;
}

/*-- Game Zone Styling --*/

