/*-- Main CSS Code --*/

html,body   /* Used to remove margin on right hand side - Taken from answer on Stack Overflow */
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-size: 62.5%;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:auto;   /* Height of the footer */
}


/*-- Intro Styling --*/

/*
body {
    background-color: black;
}*/


.main-title {
    background: url("../images/main-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
    min-height: 15rem;
}

.intro {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
}

.intro2 {
    font-size: 1.4rem;
    text-align: center;
    
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.bub-pad {
    padding-top: 4rem;
    
}

.foot-pad {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.smiley-size {
    height: 1.5rem;
    width: 1.5rem;
    padding-bottom: 0.25rem;
}

.smiley-size:hover {
    filter: grayscale(100%);
}

.bub-size {
    float:left;
    margin-left:20px;
    height: 7rem;
    width: 7rem;
}



/*-- Bubble Code Accredited In README but I have changed it to suit my game --*/
.speech-bubs {
	
	position: relative;
	max-width: 20rem;
	background-color: rgba(247, 68, 152, 0.1);
	padding: 1.125em 1.5em;
    font-size: 1.25rem;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.speech-bubs::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 50%;
	left: -1.2rem; 
	border: .75rem solid transparent;
    border-top: none;
    transform: rotate(-90deg);
    
	border-bottom-color: rgba(247, 68, 152, 0.3);
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}



/*-- Game Zone Styling --*/







/*-- Media Queries --*/

/* Show in Large desktops and laptops */
@media (min-width: 1200px) {

     .main-title{
        min-height: 40rem;
    }

    .bub-size {
        float: right;
        height: 10rem;
        width: 10rem;
    }


   
}

/*Hide in Other Small Devices */                                    /* ----IF THERE ARE TWO MEDIA QUERY SIZES WITH SAME INFO , COMBINE THEM -----*/

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .main-title{
        min-height: 30rem;
    }

    .bub-size {
        float: right;
        height: 10rem;
        width: 10rem;
    }
 

}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .main-title{
        min-height: 30rem;
    }

    .bub-size {
        float: right;
        height: 10rem;
        width: 10rem;
    }


} 

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .main-title{
        min-height: 25rem;
    }

    .bub-size {
        float: right;
        height: 7rem;
        width: 7rem;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .main-title{
        min-height: 15rem;
    }

    .bub-size {
        float: left;
    }


}
