/*-- Main CSS Code --*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');  /*Test 8-bit looking font */



html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {               
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow-x: hidden;
}

#gamezone {
    background-color: black;
    background-image: url("../images/round87-edit3.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

footer {
   position:absolute;
   bottom: 0;
   width: 100%;
   height: auto;   /* Height of the footer */
}


/*-- Intro Styling --*/


.main-title {
    background: url("../images/main-head-3D-clip.png");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
    min-height: 8rem;
    margin-top: 3.5rem;
}


.input-group {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    font-size: 1.4rem;
    text-align: center;
}


.col-centered{
    font-size: 1.2rem;
    margin: 0 auto;
    float: none;
}

.bub-pad {
    padding: 3rem 0rem 0rem 0rem;  
}

.bub-size {
    float: right;
    height: 8rem;
    width: 8rem;
}

.bob-size {
    height: 8rem;
    width: 8rem;
}

    
.game-butt {
    visibility: hidden; 
    position: fixed;
    bottom: 3rem;
}

.center {                             /* Autoprefixer */
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 22rem;
    border-radius: 1rem;
    background-color: rgba(247, 68, 152, .3);
    border: 1px solid rgba(254, 238, 32, 1);
}

.btn-block {
    font-size: 1.1rem;
}

.foot-pad {
    text-align: center;
    font-size: 1.2rem;
}

#high-scores, #game-rules {
    font-size: 1.2rem;
    height : 3.2rem;
    width: 3.2rem;
    line-height: 1rem;
    border-radius: 50%;
}

.smiley-size {
    height: 1.5rem;
    width: 1.5rem;
    padding-bottom: 0.25rem;
}

.smiley-size:hover {                                    /* Autoprefixer */
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}


/*-- Bubble Code Accredited In README but I have changed it to suit my game --*/
.bub-speech {
    visibility: hidden;                                                                                 /* Autoprefixer */
    float: right;
    position: relative;
    max-width: 20rem;
	background-color: rgba(247, 68, 152, 0.1);
    padding: 1.125em 1.5em;
    font-size: 1.1rem;
	border-radius: 1rem;
    -webkit-box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
            box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.bub-speech::before {                 /* Autoprefixer */
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 50%;
	left: 19.7rem; 
	border: .75rem solid transparent;
    border-top: none;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    
	border-bottom-color: rgba(247, 68, 152, 0.3);
	-webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
	        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.bob-speech {	                        /* Autoprefixer */
    visibility: hidden;
    float: left;
    position: relative;
    max-width: 20rem;
	background-color: rgba(254, 238, 32, 0.1);
	padding: 1.125em 1.5em;
    font-size: 1.1rem;
	border-radius: 1rem;
    -webkit-box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
            box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.bob-speech::before {                              /* Autoprefixer */
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 50%;
	left: -1.2rem; 
	border: .75rem solid transparent;
    border-top: none;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    
	border-bottom-color: rgba(254, 238, 32, 0.3);
	-webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
	        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}



/*-- Game Zone Styling --*/


.gamehud {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
}

.time {
  background-color: rgba(254, 238, 32, 1);
  border: 1px solid rgba(247, 68, 152, 1);
  width: 4.4rem;
  height: 4.4rem;
  line-height: 2.4rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; 
    padding-top: 1rem;
}

.gamehud  p {
    color: #fff;
    margin-bottom: 0.3rem;
}

.time  span, .score  span {
    font-size: 1.4rem;
   /* padding-top: 3rem;*/
}

.flash {                                                       /* Autoprefixer */
    -webkit-animation: blinker 1.5s linear infinite;
            animation: blinker 1.5s linear infinite;
  }

  @-webkit-keyframes blinker {                                   /* Autoprefixer */
    50% {
        background-color: rgba(247, 68, 152, 1);
        border: 1px solid rgba(254, 238, 32, 1);
        color: white;
    }
  }
  @keyframes blinker {                                              /* Autoprefixer */
    50% {
        background-color: rgba(247, 68, 152, 1);
        border: 1px solid rgba(254, 238, 32, 1);
        color: white;
    }
  }


.score {
    background-color: rgba(254, 238, 32, 1);
  border: 1px solid rgba(247, 68, 152, 1);
    width: 4.4rem;
  height: 4.4rem;
  line-height: 2.4rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding-top: 1rem;
}

.chat {
    background-color: rgba(247, 68, 152, 1);
    border: 1px solid rgba(254, 238, 32, 1);
    font-size: .7rem;
    height: 2rem;
    line-height: 1.8rem;
    color: #fff;
    margin-top: 0.6rem;
    border-radius: 1rem;
}


.grid-container {                        /* Autoprefixer*/
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
     width: 100%;
    margin: auto;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    -ms-grid-columns: auto 1rem auto 1rem auto;
    grid-template-columns: auto auto auto;
    background-color: transparent;
    padding: 1rem;
}

.grid-item {                                                                          /* Autoprefixer*/
    background: url("../images/cardface.png")no-repeat center center;
    background-size: contain;
    background-color: rgba(247, 68, 152, 1);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 7rem;
    height: 7rem;                 /* Change this with .hide height & width over different screen sizes*/
    text-align: center;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    border-radius: 1rem;
  }

  .grid-item:active {                                       /* Autoprefixer*/
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.grid-item.turn {                                /* Autoprefixer*/
    background-color: #fff;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}


.hide {                                           /* Autoprefixer*/
   width: 7rem;
   height: 7rem; 
   border-radius: 5px;
 /*  -webkit-perspective: 0;*/
    -webkit-backface-visibility: hidden; 
 /*  -webkit-transform: translate3d(0,0,0);  */         /*Trying to fix iOS bug with code*/
   /* visibility:visible;*/
           backface-visibility: hidden;
   -webkit-transform: rotateY(180deg);
           transform: rotateY(180deg);
}


#home, #mute {                                     /* Autoprefixer*/
    height : 3.2rem;
    width: 3.2rem;
    position: absolute;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
}

#home {
    top: 97%;
    left: 35%;
}

#mute {
    top: 97%;
    left: 66%;
}

.unmute, .home {
    background-color: rgba(254, 238, 32, 1);
    border: 2px solid rgba(247, 68, 152, 1);
}

.home:hover {
    background-color: rgba(247, 68, 152, 1);
    border: 2px solid rgba(254, 238, 32, 1);
}


.mute {
    background-color: rgba(247, 68, 152, 1);
    border: 2px solid rgba(254, 238, 32, 1);
}


.star-light {
    background-color: rgba(247, 68, 152, .3);
    border: 1px solid rgba(254, 238, 32, 1);
}

.star-light:hover {
    background-color: rgba(254, 238, 32, 1);
    border: 1px solid rgba(247, 68, 152, .3);
}

.star-swap {
    background-color: rgba(254, 238, 32, 1);
    border: 2px solid rgba(247, 68, 152, .3);
}


.icon {                                                        /* Autoprefixer*/
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
    transition: all 0.35s ease-in-out;
}


#gameover, #timeout {                                              /* Autoprefixer*/
    visibility: hidden;
    color: rgba(247, 68, 152, 1);
    font-family: "Press Start 2P", sans-serif;
    background: rgba(254, 238, 32, .9);
    width: 75%;
    margin: auto;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    border: 5px solid #FAA101;
    padding: 2rem;
    text-align: center;
    line-height: 4rem;
    height: 32rem;
    border-radius: 1rem;
}


#reset-jumbo, #rules-jumbo {                                              /* Autoprefixer*/
      visibility: hidden;
      color: rgba(247, 68, 152, 1);
      font-family: "Press Start 2P", sans-serif;
      background: rgba(254, 238, 32, .9);
      width: 75%;
      margin: auto;
      position: absolute;
      top: 64%;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 1;
      border: 5px solid #FAA101;
      padding: 2rem 0rem;
      text-align: center;
      font-size: .9rem;
      line-height: 3rem;
      height: 31rem;
      border-radius: 1rem;
  }


.head-high {
    color: #000;
    font-size: 1.5rem;
}


.jumbohead {
    font-size: 1.1rem;
}

.jumbomain {
    font-size: 0.9rem;
}

#restart, #levelup {
 
  font-size: 1.3rem;
  width: 10rem;
  border-radius: 1rem;
  background-color: rgba(247, 68, 152, .3);
  border: 1px solid #FAA101;
}

#reset-butt {
    position: absolute;
    top: 90%;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 1;
  font-size: 0.9rem;
  line-height: 2rem;
  width: 20rem;
  border-radius: 1rem;
  background-color: rgba(247, 68, 152, .3);
  border: 1px solid #FAA101;
}




/*-- Media Queries --*/

/* Show in Large desktops and laptops */
@media (min-width: 1200px) {

     .main-title{
        min-height: 25rem;
        margin-top: 6rem;
    }

    .bub-size {
        float: left;
        height: 10rem;
        width: 10rem;
    }

    .bob-size {
        float: right;
        height: 10rem;
        width: 10rem;
    }

    .game-butt {
        bottom: 5rem;
    }

    .center {
        width: 30rem;
    }

    .btn-block {
        font-size: 1.4rem;
    }

    .head-high {
        font-size: 2.4rem;
    }

    #reset-jumbo {
        width: 50%;
        font-size: 1.7rem;
    }

    #rules-jumbo {
        width: 50%;
        font-size: 1.5rem;
    }

    #high-scores, #game-rules {
        font-size: 1.2rem;
        height : 3.2rem;
        width: 3.2rem;
        line-height: 1rem;
        border-radius: 50%;
    }

    .col-centered{
        font-size: 1.7rem;
    }
    
    .smiley-size {
        height: 1.7rem;
        width: 1.7rem;
        padding-bottom: 0.3rem;
    }

    .gamehud  p {
        font-size: 1.7rem;
        margin-bottom: 0.3rem;
    }
    
    .time, .score {
        width: 8rem;
        height: 8rem;
    }

    .time  span, .score  span {
        font-size: 2.5rem;
        line-height: 5.5rem;
    }

    .chat {
        height: 5rem;
        font-size: 1.4rem;
        line-height: 5rem;
    }

    .grid-container {                                               /* Autoprefixer*/
        -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
        top: 68%;
    }

    .grid-item {
        width: 12rem;
        height: 12rem; 
    }

    .hide {
        width: 12rem;
        height: 12rem; 
    }

    #gameover, #timeout {
        width: 43%;
        top: 68%;
        height: 40rem;
        line-height: 6rem;
        padding: 5rem;       
    }

    .jumbohead {
        font-size: 2.5rem;
    }

    .jumbomain {
        font-size: 2rem;
    }

    #restart, #levelup {
        font-size: 1.5rem;
        width: 20rem;
    }

    #home, #mute {
        height : 5rem;
        width: 5rem;
    }

    .icon {
        font-size: 2rem;
        line-height: 3.5rem;
    }

}

/*Hide in Other Small Devices */                                    /* ----IF THERE ARE TWO MEDIA QUERY SIZES WITH SAME INFO , COMBINE THEM -----*/

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .main-title {
        min-height: 20rem;
        margin-top: 6rem;
    }

    .bub-size {
        float: left;
        height: 10rem;
        width: 10rem;
    }

    .bob-size {
        float: right;
        height: 10rem;
        width: 10rem;
    }

    .head-high {
        font-size: 2.3rem;
    }

    #reset-jumbo {
        width: 50%;
        font-size: 1.6rem;
    }

    #rules-jumbo {
        width: 50%;
        font-size: 1.4rem;
    }

    .game-butt {
        bottom: 4rem;
    }

    .col-centered{
        font-size: 1.5rem;
    }
    
    .smiley-size {
        height: 1.5rem;
        width: 1.5rem;
        padding-bottom: 0.3rem;
    }
 
    .gamehud  p {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }
    
    .time, .score {
        width: 6rem;
        height: 6rem;
    }

    .time  span, .score  span {
        font-size: 2rem;
        line-height: 4rem;
    }

    .chat {
        height: 5rem;
        font-size: 1.1rem;
        line-height: 5rem;
    }

    .grid-container {                                                /* Autoprefixer*/
        -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
        top: 68%;
    }

    .grid-item {
        width: 12rem;
        height: 12rem; 
    }

    .hide {
        width: 12rem;
        height: 12rem; 
    }

    #gameover, #timeout {
        width: 51%;
        top: 68%;
        height: 40rem;
        line-height: 6rem;
        padding: 5rem;       
    }

    .jumbohead {
        font-size: 2.2rem;
    }

    .jumbomain {
        font-size: 1.7rem;
    }

    #restart, #levelup {
        font-size: 1.5rem;
        width: 20rem;
    }

    #home, #mute {
        height : 5rem;
        width: 5rem;
    }

    .icon {
        font-size: 2rem;
        line-height: 3.5rem;
    }

}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .main-title {
        min-height: 20rem;
        margin-top: 6rem;
    }

    .bub-size {
        float: left;
        height: 10rem;
        width: 10rem;
    }

    .bob-size {
        float: right;
        height: 10rem;
        width: 10rem;
    }

    .head-high {
        font-size: 2.2rem;
    }

    #reset-jumbo {
        width: 50%;
        font-size: 1.5rem;
    }

    #rules-jumbo {
        width: 50%;
        font-size: 1.3rem;
    }

    .col-centered{
        font-size: 1.3rem;
    }
    
    .smiley-size {
        height: 1.3rem;
        width: 1.3rem;
        padding-bottom: 0.3rem;
    }
 
    .gamehud  p {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }
    
    .time, .score {
        width: 6rem;
        height: 6rem;
    }

    .time  span, .score  span {
        font-size: 1.8rem;
        line-height: 4rem;
    }

    .chat {
        height: 5rem;
        font-size: 0.9rem;
        line-height: 5rem;
    }

    .grid-container {                                          /* Autoprefixer*/
        -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
        top: 68%;
    }

    .grid-item {
        width: 12rem;
        height: 12rem; 
    }

    .hide {
        width: 12rem;
        height: 12rem; 
    }

    #gameover, #timeout {
        width: 67%;
        top: 68%;
        height: 40rem;
        line-height: 6rem;
        padding: 5rem;       
    }

    .jumbohead {
        font-size: 2rem;
    }

    .jumbomain {
        font-size: 1.5rem;
    }

    #restart, #levelup {
        font-size: 1.5rem;
        width: 20rem;
    }

    #home, #mute {
        height : 5rem;
        width: 5rem;
    }

    .icon {
        font-size: 2rem;
        line-height: 3.5rem;
    }

}


/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {

    .main-title {
        min-height: 15rem;
        margin-top: 6rem;
    }

    .bub-size {
        float: left;
        height: 10rem;
        width: 10rem;
    }

    .bob-size {
        float: right;
        height: 10rem;
        width: 10rem;
    }

    .head-high {
        font-size: 2rem;
    }

    #reset-jumbo {
        width: 50%;
        font-size: 1.4rem;
    }

    #rules-jumbo {
        width: 50%;
        font-size: .9rem;
    }
 
    .gamehud  p {
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
    }
    
    .time, .score {
        width: 5rem;
        height: 5rem;
    }

    .time  span, .score  span {
        font-size: 1.6rem;
        line-height: 3rem;
    }

    .chat {
        height: 4rem;
        font-size: 0.9rem;
        line-height: 4rem;
        margin-top: 1rem;
    }

    .grid-container {                                           /* Autoprefixer*/
        -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        top: 67%;
    }

    .grid-item {
        width: 10rem;
        height: 10rem; 
    }

    .hide {
        width: 10rem;
        height: 10rem; 
    }

    #gameover, #timeout {
        width: 67%;
        top: 67%;
        height: 44rem;
        line-height: 6rem;
        padding: 5rem;       
    }

    .jumbohead {
        font-size: 1.5rem;
    }

    .jumbomain {
        font-size: 1.2rem;
    }

    #restart, #levelup {
        font-size: 1.5rem;
        width: 20rem;
    }

    #home, #mute {
        height : 4rem;
        width: 4rem;
    }

    .icon {
        font-size: 1.6rem;
        line-height: 3rem;
    }

}

/* Portrait phones and smaller */
/*@media (max-width: 480px) {

    .main-title{
        min-height: 15rem;
    }

    .bub-size {
        float: right;
    }

    .bob-size {
        float: left;
    }

}*/


/* Media Queries For Screens With Larger Heights */

@media (max-width: 480px) and (min-height: 639px) {

    .main-title {
        min-height: 10rem;
        margin-top: 6rem;
    }

    .bub-pad {
        padding: 4rem 0rem 0rem 0rem;  
    }

}


@media (max-width: 480px) and (min-height: 660px) {

    .chat {
        font-size: .8rem;
        height: 3rem;
        line-height: 2.6rem;
        margin-top: 1.5rem;
    }

    .game-butt {
        bottom: 5rem;
    }

}


@media (min-width: 1000px) and (min-height: 1000px){

    .main-title {
        min-height: 30rem;
        margin-top: 10rem;
    }

    .bub-pad {
        padding: 6rem 0rem 0rem 0rem;  
    }

    .bub-size {
        float: left;
        height: 14rem;
        width: 14rem;
    }

    .bob-size {
        float: right;
        height: 14rem;
        width: 14rem;
    }

    .gamehud {
        margin-top: 5rem;
    }

    .chat {
        height: 5rem;
        font-size: 1.4rem;
        line-height: 5rem;
    }

    .grid-item {
        width: 15rem;
        height: 15rem; 
    }

    .hide {
        width: 15rem;
        height: 15rem; 
    }


    #gameover, #timeout {
        width: 63%;
        top: 68%;
        height: 50rem;
        line-height: 6rem;
        padding: 5rem;       
    }

    .jumbohead {
        font-size: 3rem;
    }

    .jumbomain {
        font-size: 2.5rem;
    }

    #restart, #levelup {
        font-size: 2rem;
        width: 20rem;
    }

}
